body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    color: #555;
}

main {
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
}

.proyecto {
    background-color: #000000;
    border: 1px solid #000000;
    margin-bottom: 20px;
    padding: 20px;
}

form {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
}

form button {
    background-color: #007bff;
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 10px 20px;
    text-transform: uppercase;
    width: 100%;
}

footer {
    background-color: #000000;
    padding: 20px;
    text-align: center;
}
.column {
    float: left;
    width: 33.33%;
    padding: 15px;
}
.column img{
    width: 100%;
    height: auto;
}
.column .info {
    margin-top: 15px;
}
.column .info h3{
    margin: 5px 0;
}
.column .info p{
    margin-bottom: 10px;
}
body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    line-height: 1.6;
    background: linear-gradient(60deg, #52ceff 25%, #16b0cf 25%, #16b0cf 50%, #1dafc9 50%, #2ba4b9 75%, #16b0cf 75%, #16b0cf);
    background-size: 200% 200%;
    animation: Gradient 3s ease infinite;
    padding: 10px;
}

@keyframes Gradient {
    0% {background-position: 0% 20%;}
    50% {background-position: 100% 20%;}
    100% {background-position: 0% 20%;}
}

/* Todo tu código CSS existente */